body{
  background-color:azure;
}
hr{
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
  width: 10%;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
img{
  background-color: blue;
  height:120px;
  width:110px;
}
img:hover{background-color: red;}
.circular{border-radius:100%;}
table{color: blue;}
